@using Sanabel.Presentation.Localization

@{
    ViewBag.Title = AccountResource.EmailConfirmation;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @Html.Raw(string.Format(AccountResource.EmailConfimrationSucessMessage, Url.Action("Login", "Account")))
    </p>
</div>
