@using Sanabel.Presentation.Localization
@{
    ViewBag.Title = AccountResource.ResetPasswordConfirmation;
    Layout = "~/Views/shared/_LoginLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @AccountResource.ResetPasswordConfimationMessage.<a href="@Url.Action("Login", "Account")">@AccountResource.ResetPasswordConfirmationLoginLinkText</a>
    </p>
</div>
