<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FromEmail" value="elkadeem@gmail.com"/>
    <add key="FromEmailName" value="Wael Elkadeem"/>
    <add key="MailServer" value="smtp.gmail.com"/>
    <add key="MailServerPort" value="587"/>
    <add key="MailUserName" value="elkadeem@gmail.com"/>
    <add key="MailPassword" value="mygodisallah"/>
    <add key="EmailIsSSL" value="false"/>
    <add key="EmailIsAuthenticated" value="true"/>    
  </appSettings>
</configuration>