<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FromEmail" value="elkadeem@gmail.com" />
    <add key="FromEmailName" value="Wael Elkadeem" />
    <add key="MailServer" value="smtp.gmail.com" />
    <add key="MailServerPort" value="587" />
    <add key="MailUserName" value="elkadeem@gmail.com" />
    <add key="MailPassword" value="mygodisallah" />
    <add key="EmailIsSSL" value="false" />
    <add key="EmailIsAuthenticated" value="true" />    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>