@model Sanabel.Cases.App.Model.CaseViewModel
@using BusinessSolutions.Localization;
@using Sanabel.Cases.App.Resources
@using BusinessSolutions.MVCCommon.Helpers
@using BusinessSolutions.Common.Infra.Extensions

@{
    ViewBag.Title = Model.CaseName;
}

Html.RenderPartial("_CaseInfoDetails");

<div class="form-group row">
    <label class="col-md-2 form-control-label text-left">&nbsp;</label>
    <div class="col-md-10">
        <a href="@Url.Action("Edit", new { id = Model.CaseId })" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i> @CommonResources.Edit</a>
        <a href="@Url.Action("Index")" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-left"></i> @CommonResources.BackToIndex</a>
    </div>
</div>