<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e633781c-2e3c-4d00-9bc2-aaab0edee6e9/resourceGroups/WebApplications/providers/Microsoft.Web/sites/sanabel</ResourceId>
    <ResourceGroup>WebApplications</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sanabel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sanabel.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sanabel</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sanabel</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CommonSettingConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bsc-eg-dbsrv.database.windows.net,1433;Initial Catalog=SanabelDB;Persist Security Info=False;User ID=SanabelDBUser;Password=S@nabelP@s$;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:bsc-eg-dbsrv.database.windows.net,1433;Initial Catalog=SanabelDB;Persist Security Info=False;User ID=SanabelDBUser;Password=S@nabelP@s$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=SanabelDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CommonSettingConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=SanabelDB;Integrated Security=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VolunteersDbConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:bsc-eg-dbsrv.database.windows.net,1433;Initial Catalog=SanabelDB;Persist Security Info=False;User ID=SanabelDBUser;Password=S@nabelP@s$;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:bsc-eg-dbsrv.database.windows.net,1433;Initial Catalog=SanabelDB;Persist Security Info=False;User ID=SanabelDBUser;Password=S@nabelP@s$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=SanabelDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VolunteersDbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=SanabelDB;Integrated Security=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SecurityConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:bsc-eg-dbsrv.database.windows.net,1433;Initial Catalog=SanabelDB;Persist Security Info=False;User ID=SanabelDBUser;Password=S@nabelP@s$;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:bsc-eg-dbsrv.database.windows.net,1433;Initial Catalog=SanabelDB;Persist Security Info=False;User ID=SanabelDBUser;Password=S@nabelP@s$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=SanabelDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SecurityConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=SanabelDB;Integrated Security=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CasesConnectionString" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:bsc-eg-dbsrv.database.windows.net,1433;Initial Catalog=SanabelDB;Persist Security Info=False;User ID=SanabelDBUser;Password=S@nabelP@s$;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:bsc-eg-dbsrv.database.windows.net,1433;Initial Catalog=SanabelDB;Persist Security Info=False;User ID=SanabelDBUser;Password=S@nabelP@s$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=SanabelDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CasesConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=SanabelDB;Integrated Security=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="VolunteersDbConnectionString-Web.config Connection String">
      <ParameterValue>Server=tcp:bsc-eg-dbsrv.database.windows.net,1433;Initial Catalog=SanabelDB;Persist Security Info=False;User ID=SanabelDBUser;Password=S@nabelP@s$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SecurityConnectionString-Web.config Connection String">
      <ParameterValue>Server=tcp:bsc-eg-dbsrv.database.windows.net,1433;Initial Catalog=SanabelDB;Persist Security Info=False;User ID=SanabelDBUser;Password=S@nabelP@s$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CommonSettingConnectionString-Web.config Connection String">
      <ParameterValue>Server=tcp:bsc-eg-dbsrv.database.windows.net,1433;Initial Catalog=SanabelDB;Persist Security Info=False;User ID=SanabelDBUser;Password=S@nabelP@s$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CasesConnectionString-Web.config Connection String">
      <ParameterValue>Server=tcp:bsc-eg-dbsrv.database.windows.net,1433;Initial Catalog=SanabelDB;Persist Security Info=False;User ID=SanabelDBUser;Password=S@nabelP@s$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>