<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net471" />
  <package id="MailKit" version="2.0.1" targetFramework="net471" />
  <package id="MimeKit" version="2.0.1" targetFramework="net471" />
  <package id="NLog" version="4.4.12" targetFramework="net471" />
  <package id="SonarAnalyzer.CSharp" version="7.0.1.4822" targetFramework="net471" developmentDependency="true" />
</packages>