<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> الرئيسية</a>
    </li>

    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> المستخدمين</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-puzzle"></i> رابط</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-puzzle"></i> رابط</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-puzzle"></i> رابط</a>
            </li>

        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> طالبي المساعدة</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> استعراض الحاليين <span class="badge badge-secondary">4700</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> إضافة جديد</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-calculator"></i> انتظار الموافقة</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> استعراض الحاليين <span class="badge badge-secondary">4700</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> إضافة جديد</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-calculator"></i> الأشخاص المعتمدين</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> استعراض الحاليين <span class="badge badge-secondary">4700</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> إضافة جديد</a>
            </li>
        </ul>
    </li>
    <li class="nav-item" nav-dropdown>
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-calculator"></i> الإجراءات</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> استعراض الحاليين <span class="badge badge-secondary">4700</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> إضافة جديد</a>
            </li>
        </ul>
    </li>
    <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-calculator"></i> بحث عن الحالات</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> استعراض الحاليين <span class="badge badge-secondary">4700</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-star"></i> إضافة جديد</a>
            </li>
        </ul>
    </li>
</ul>
